* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Roboto;
}

.content {
    width: 1400px;
    background-color: white;
    margin: auto;
}

.header, .hero {
    background-color: #1F2937;   
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    padding-left: 200px;
}

.header-links {
    font-size: 18px;
    font-weight: 300;
    padding-right: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    color: #E5E7EB;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 50px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub {
    font-size: 18px;
    font-weight: 300;   
    color: #E5E7EB;
    margin-bottom: 15px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 8px;
}

.hero-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 109, 116);
    color: #E5E7EB;
    width: 500px;
    height: 250px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px 0;
}

.info-cards {
    display: flex;
    gap: 45px;
    margin-bottom: 100px;
}

.info-card {
    width: 150px;
    text-align: center;
}

.info-card-placeholder {
    border: solid #3882F6 4px;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-container {
    width: 800px;
    padding: 80px 0;
    margin: auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-signature {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.cta-container {
    background-color: #3882F6;
    border-radius: 10px;
    width: 1000px;
    margin: 60px auto;
    padding: 50px 120px;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    font-size: 24px;
}

.cta-text p {
    font-weight: 300;
    font-size: 18px;
}

.cta-button-signup {
    background-color: transparent;
    color: #F9FAF8;
    font-size: 18px;
    border: solid #F9FAF8 2px;
    border-radius: 10px;
    padding: 5px 30px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer p {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    font-weight: 300;
}